.foot-container {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    background: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot-container span {
    color: white;
}